body{
    font-family: 'Roboto', sans-serif;
}
h1{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 0.2rem 0.2rem 0.5rem $text-color;
}
h2{
    font-size: 0.8rem;
    a{
        color: $text-color;
    }
}
button{
    font-size: 1.2rem;
    font-weight: bold;
}
